/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

/*.container { width:100% !important; }*/

.container { width: 99% !important; }
div.cell.selected { border-left-width: 1px !important; }

.CodeMirror {
font-family: Monoid;
}

/* Colorful dataframe */
table.dataframe {
    border-collapse: collapse;
    border: none;
}
table.dataframe tr {
    border: none;
}
table.dataframe td, table.dataframe th {
    margin: 0;
    border: 1px solid white;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
table.dataframe th:not(:empty) {
    background-color: #fec;
    text-align: left;
    font-weight: normal;
}
table.dataframe tr:nth-child(2) th:empty {
    border-left: none;
    border-right: 1px dashed #888;
}
table.dataframe td {
    border: 2px solid #ccf;
    background-color: #f4f4ff;
}

/* Dracula 
.cm-s-ipython.CodeMirror, .cm-s-ipython .CodeMirror-gutters {
  background-color: #282a36 !important;
  color: #f8f8f2 !important;
  border: none;
}
.cm-s-ipython .CodeMirror-gutters { color: #282a36; }
.cm-s-ipython .CodeMirror-cursor { border-left: solid thin #f8f8f0; }
.cm-s-ipython .CodeMirror-linenumber { color: #6D8A88; }
.cm-s-ipython.CodeMirror-focused div.CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
.cm-s-ipython .CodeMirror-line::selection, .cm-s-ipython .CodeMirror-line > span::selection, .cm-s-ipython .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-ipython .CodeMirror-line::-moz-selection, .cm-s-ipython .CodeMirror-line > span::-moz-selection, .cm-s-ipython .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-ipython span.cm-comment { color: #6272a4; }
.cm-s-ipython span.cm-string, .cm-s-ipython span.cm-string-2 { color: #f1fa8c; }
.cm-s-ipython span.cm-number { color: #bd93f9; }
.cm-s-ipython span.cm-variable { color: #50fa7b; }
.cm-s-ipython span.cm-variable-2 { color: white; }
.cm-s-ipython span.cm-def { color: #ffb86c; }
.cm-s-ipython span.cm-keyword { color: #ff79c6; }
.cm-s-ipython span.cm-operator { color: #ff79c6; }
.cm-s-ipython span.cm-keyword { color: #ff79c6; }
.cm-s-ipython span.cm-atom { color: #bd93f9; }
.cm-s-ipython span.cm-meta { color: #f8f8f2; }
.cm-s-ipython span.cm-tag { color: #ff79c6; }
.cm-s-ipython span.cm-attribute { color: #50fa7b; }
.cm-s-ipython span.cm-qualifier { color: #50fa7b; }
.cm-s-ipython span.cm-property { color: #66d9ef; }
.cm-s-ipython span.cm-builtin { color: #50fa7b; }
.cm-s-ipython span.cm-variable-3 { color: #50fa7b; }

.cm-s-ipython .CodeMirror-activeline-background { background: rgba(255,255,255,0.1); }
.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }
*/
