/*.container { width:100% !important; }*/

.container { width: 99% !important; }
div.cell.selected { border-left-width: 1px !important; }

@font-face {
 font-family: "Input Mono";
 font-weight: normal;
 font-style: normal;
 src: local('"Input Mono"'), url('fonts/Input-Italic_(InputMonoNarrow-LightItalic).ttf') format('truetype');
}

@font-face {
 font-family: "Input Mono";
 font-weight: normal;
 font-style: normal;
 src: local('"Input Mono"'), url('fonts/Input-Regular_(InputMonoNarrow-Light).ttf') format('truetype');
}

@font-face {
 font-family: "Work Sans";
 font-weight: normal;
 font-style: normal;
 src: local('"Work Sans"'), url('fonts/WorkSans-Regular.otf') format('opentype');
}

.CodeMirror {
  font-family: 'Input Mono'; 
}

.text_cell_render {
  font-family: 'Work Sans';
}

/* Colorful dataframe */
table.dataframe {
    border-collapse: collapse;
    border: none;
}
table.dataframe tr {
    border: none;
}
table.dataframe td, table.dataframe th {
    margin: 0;
    border: 1px solid white;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
table.dataframe th:not(:empty) {
    background-color: #fec;
    text-align: left;
    font-weight: normal;
}
table.dataframe tr:nth-child(2) th:empty {
    border-left: none;
    border-right: 1px dashed #888;
}
table.dataframe td {
    border: 2px solid #ccf;
    background-color: #f4f4ff;
}
